
.card {
    width: 300px;
    height: 350px;
    background: lightgrey;
    position: relative;
    transform: skewY(-10deg);
    border: 5px solid #6d74e3;
    box-sizing: border-box;
    transition: all 0.3s;
  }
  
  .card::before {
    content: '';
    width: 10px;
    height: 350px;
    background: #6d74e3;
    position: absolute;
    top: -5px;
    left: -14.7px;
    transform-origin: right;
    transform: skewY(45deg);
    border: none;
    transition: all 0.5s;
  }
  
  .card::after {
    content: '';
    height: 10px;
    width: 300px;
    background: #6d74e3;
    position: absolute;
    top: -14.7px;
    left: -5px;
    transform-origin: bottom;
    transform: skew(45deg);
    border: none;
    transition: all 0.5s;
  }
  
  .card:hover {
    transform: skewY(0deg);
  }
  
  .card:hover::before {
    width: 0px;
    height: 249px;
    left: 0;
    top: 0.1px;
  }
  
  .card:hover::after {
    width: 184px;
    height: 0px;
    left: 0.1px;
    top: 0;
  }
  
  .card__content {
    padding: 10px;
    color: #323232;
  }

  /* responsive css  */

  @media only screen and (max-width: 600px) {
    .card{
        height: 200px;
        width: 150px;
    }
    .card::after{
        width: 150px;
    }
    .card::before{
        height: 200px;
    }
  }